.nav {
  background: #ff6600;
  height: 100%;
  width: 100%;
  display: inline;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 80px;
  width: 80px;
}

.icon {
  height: 80px;
  width: 80px;
}
